%header.ms-header.ms-header-white
  .container.container-full
    = image_tag 'app/cintillo.jpg', class: 'hidden-xs', style: 'z-index: 1000;'
    .ms-title
      %a{:href => "/"}
        %img#logo.animated.fadeInLeft.animation-delay-7{:alt => "Logo Emicaguacu", :src => "/assets/app/sello.jpg"}
    .header-right
      -# .share-menu
      -#   %ul.share-menu-list
      -#     %li.animated.fadeInRight.animation-delay-3
      -#       %a.btn-circle.btn-google{:href => "javascript:void(0)"}
      -#         %i.zmdi.zmdi-google
      -#     %li.animated.fadeInRight.animation-delay-2
      -#       %a.btn-circle.btn-facebook{:href => "javascript:void(0)"}
      -#         %i.zmdi.zmdi-facebook
      -#     %li.animated.fadeInRight.animation-delay-1
      -#       %a.btn-circle.btn-twitter{:href => "javascript:void(0)"}
      -#         %i.zmdi.zmdi-twitter
      -#   %a.btn-circle.btn-circle-primary.animated.zoomInDown.animation-delay-7{:href => "javascript:void(0)"}
      -#     %i.zmdi.zmdi-share
      -# %form.search-form.animated.zoomInDown.animation-delay-9
        = search_form_for @q, url: '/directorio', html: { method: :get } do |f|
          = f.search_field :name_cont, placeholder: 'Buscar tiendas...', id: 'search-box', class: "search-input"
          %label{:for => "search-box"}
            %i.zmdi.zmdi-search

      -# %a.btn-ms-menu.btn-circle.btn-circle-primary.sb-toggle-left.animated.zoomInDown.animation-delay-10{:href => "javascript:void(0)"}
      -#   %i.zmdi.zmdi-menu
