%a.ms-conf-btn.ms-configurator-btn.btn-circle.btn-circle-raised.btn-circle-success.animated.rubberBand.hidden-xs.hidden-sm{:href => "/users/sign_in"}
  %i.fa.fa-sign-in.fa-lg{"aria-hidden" => "true"}
