%a.ms-conf-btn.ms-configurator-btn.btn-circle.btn-circle-raised.btn-circle-success.animated.rubberBand.hidden-xs.hidden-sm{:href => "/directorio"}
  %i.fa.fa-shopping-bag.fa-lg{"aria-hidden" => "true"}
