!!!
%html{:lang => "es"}
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "#333", :name => "theme-color"}
    %title Emicaguacu CC
    %meta{:content => "Emicaguacu CC", :name => "description"}
    %link{:href => "favicon.ico", :rel => "shortcut icon"}
    %link{:href => "assets/css/material_icons.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/css/plugins.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/css/preload.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/css/plugins.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/css/style.light-blue-500.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/css/custom.css", :rel => "stylesheet", :type => "text/css"}
    -# /[if lt IE 9]
    -#   <script src="assets/js/html5shiv.min.js"></script>
    -#   <script src="assets/js/respond.min.js"></script>
    -# / Start WOWSlider HEAD section
    %link{:href => "assets/css/style1.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/assets/js/jquery.js", :type => "text/javascript"}
    / End WOWSlider HEAD section
