.wrap.wrap-danger.mt-6
  %h2.text-center.no-m.wow.fadeInDown.animation-delay-5
    %i.fa.fa-instagram.fa-lg{"aria-hidden" => "true"}
    Síguenos por Instagram
  %br
  .container.animated.wow.fadeInUp.animation-delay-5
    / LightWidget WIDGET
    -# %script{:src => "//lightwidget.com/widgets/lightwidget.js"}
    -# %iframe.lightwidget-widget{:allowtransparency => "true", :scrolling => "no", :src => "//lightwidget.com/widgets/3a5c87d113045d229f6822b516d7ce4c", :style => "width: 100%; border: 0; overflow: hidden;"}
    %script{:src => "//lightwidget.com/widgets/lightwidget.js"}
    %iframe.lightwidget-widget{:allowtransparency => "true", :scrolling => "no", :src => "//lightwidget.com/widgets/3a5c87d113045d229f6822b516d7ce4c.html", :style => "width: 100%; border: 0; overflow: hidden;"}
