.alfabetico {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
}
.alfabetico a {color: #fff; font-weight: 300;}
.alfabetico a:hover {color: #00A54F; font-weight: bolder;}

.fondo {background-color: rgba(0,0,0,.7);}
.fondo2 {
	background-color: rgba(255,255,255,.6);
	padding-top: 14px; 
	padding-bottom: 14px;
}
.fondo-azul {color: white; background: #0078BD;}
.fondo-verde {color: white; background: #b8222b;}
.img-avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 0%;
    border: solid 5px #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    margin: 0 auto;
    display: block;
    -webkit-transform: translateY(40px) rotate(0deg);
    transform: translateY(40px) rotate(0deg);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    position: relative;
    z-index: 1;
}
#logo {
	max-width: 600px;
}
#logo2 {max-width: 150px;}
.rrss {background: rgb(155, 0, 0) !important;}

/*Menu principal*/
.menues li a {
    display: block;
    padding: 2px 0;
    font-size: 2rem;
}
.menues li a i {
    margin-right: 10px;
    width: 15px;
    text-align: center;
    color: #ffb2b2;
}
.menues li a:hover i {
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    color: #ffa726;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.ms-hero.ms-hero-material .ms-hero-img .carousel .carousel-indicators {
    position: absolute;
    bottom: 4px;
    left: auto;
    right: 15px;
}
#mensaje {
    color: white;
    font-size: 5rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    bottom: 30%;
    position: absolute;
    text-shadow: 0px 0px 5px #000;
    z-index: 999;
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #mensaje {
        color: white;
        font-size: 5rem;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 300;
        bottom: 40%;
        position: absolute;
        text-shadow: 0px 0px 5px #000;
        z-index: 999;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #mensaje {
        color: white;
        font-size: 4rem;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 300;
        bottom: 45%;
        position: absolute;
        text-shadow: 0px 0px 5px #000;
        z-index: 999;
    }
}
@media (min-width: 361px) and (max-width: 767px) {
    #mensaje {
        color: white;
        font-size: 3rem;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 300;
        bottom: 80%;
        position: absolute;
        text-shadow: 0px 0px 5px #000;
        z-index: 999;
    }
}
@media (max-width: 360px) {
    #mensaje {
        display: none;
    }
}
.ms-hero-img-mapa {
    background-image: url(../img/mapa.jpg);
    background-size: cover;
    background-position: center center;
}
.ms-hero-img-tiendas {
    background-image: url(../img/tiendas.jpg);
    background-size: cover;
    background-position: center center;
}
.ms-hero-img-tienda {
    background-image: url(../img/tienda.jpg);
    background-size: cover;
    background-position: center center;
}
