<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Emicaguacu CC - Tiendas</title>
    <meta name="description" content="Emicaguacu CC">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/material_icons.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/preload.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css" />
     <link rel="stylesheet" type="text/css" href="assets/css/style.light-blue-500.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Start WOWSlider HEAD section -->
    <link rel="stylesheet" type="text/css" href="engine2/style.css" />
    <script type="text/javascript" src="engine2/jquery.js"></script>
    <!-- End WOWSlider HEAD section -->
  </head>
  <body>
    <!-- ************************************
        Link Shop
    ************************************* -->
    <a href="directorio.html" class="ms-conf-btn ms-configurator-btn btn-circle btn-circle-raised btn-circle-success animated rubberBand hidden-xs hidden-sm">
      <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
    </a><!-- /* End Link Shop -->
    
    <!-- ************************************
        PRELOAD
    ************************************* -->
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div><!-- /* End ms-preload -->

    <div class="sb-site-container">    
      
      <header class="ms-header ms-header-white">
        <div class="container container-full">
          <div class="ms-title">
            <a href="index.html">
              <img id="logo" class="animated fadeInLeft animation-delay-7" src="assets/img/logo_color.png" alt="Logo Emicaguacu">              
            </a>
          </div>
          <div class="header-right">
            <div class="share-menu">
              <ul class="share-menu-list">
                <li class="animated fadeInRight animation-delay-3">
                  <a href="javascript:void(0)" class="btn-circle btn-google">
                    <i class="zmdi zmdi-google"></i>
                  </a>
                </li>
                <li class="animated fadeInRight animation-delay-2">
                  <a href="javascript:void(0)" class="btn-circle btn-facebook">
                    <i class="zmdi zmdi-facebook"></i>
                  </a>
                </li>
                <li class="animated fadeInRight animation-delay-1">
                  <a href="javascript:void(0)" class="btn-circle btn-twitter">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                </li>
              </ul>
              <a href="javascript:void(0)" class="btn-circle btn-circle-primary animated zoomInDown animation-delay-7">
                <i class="zmdi zmdi-share"></i>
              </a>
            </div>
            <form class="search-form animated zoomInDown animation-delay-9">
              <input id="search-box" type="text" class="search-input" placeholder="Buscar..." name="q" />
              <label for="search-box">
                <i class="zmdi zmdi-search"></i>
              </label>
            </form>
            <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary sb-toggle-left animated zoomInDown animation-delay-10 visible-xs visible-sm">
              <i class="zmdi zmdi-menu"></i>
            </a>
          </div>
        </div>
      </header>

      <!-- *******************************************
              NAVBAR
      ******************************************** -->
      <nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-primary">
        <div class="container container-full">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <img id="logo2" src="assets/img/logo_white.png" alt="Logo Emicaguacu">
            </a>
          </div>
          
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav menues visible-md visible-lg">

              <li class="dropdown yamm-fw">
                <a href="#" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Directorio
                  <i class="zmdi zmdi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x">
                  <li>
                    <div class="row">
                        
                      <div class="col-sm-4 megamenu-col">
                        <div class="megamenu-block animated fadeInLeft animated-2x">                          
                          <ul class="megamenu-block-list">
                            <li><a href="directorio.html"> Todas</a></li>
                            <li><a href="directorio.html"> Artículos del Hogar</a></li>
                            <li><a href="directorio.html"> Accesorios y complementos de vestir</a></li>
                            <li><a href="directorio.html"> Belleza y cuidado personal</a></li>
                          </ul>
                        </div>
                      </div>

                     <div class="col-sm-4 megamenu-col">
                        <div class="megamenu-block animated fadeInLeft animated-2x">                          
                          <ul class="megamenu-block-list">
                            <li><a href="directorio.html"> Cafés, Helados y Postres</a></li>
                            <li><a href="directorio.html"> Entretenimiento</a></li>
                            <li><a href="directorio.html"> Feria de Comida</a></li>
                            <li><a href="directorio.html"> Restaurantes</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4 megamenu-col">
                        <div class="megamenu-block animated fadeInLeft animated-2x">                          
                          <ul class="megamenu-block-list">
                            <li><a href="directorio.html"> Regalos y detalles</a></li>
                            <li><a href="directorio.html"> Servicios</a></li>
                            <li><a href="directorio.html"> Vestimenta</a></li>
                            <li><a href="directorio.html"> Vestimenta de niños</a>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </li>
                </ul>
              </li>

              <li><a href="somos.html"><i class="zmdi zmdi-accounts"></i> Somos</a></li>
              <li><a href="index.html#galeria"><i class="zmdi zmdi-collection-image-o"></i> Galería</a></li>
              <li><a href="ubicacion.html"><i class="zmdi zmdi-pin"></i> Ubicación</a></li>
              <li><a href="blog.html"><i class="zmdi zmdi-edit"></i> Noticias</a></li>
            </ul>
          </div>
          <!-- navbar-collapse collapse -->
          <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu visible-xs visible-sm">
            <i class="zmdi zmdi-menu"></i>
          </a>
        </div>
        <!-- container -->
      </nav><!-- /* End Navbar -->
    

      <div class="ms-hero-page-override ms-hero-img-tiendas ms-hero-bg-royal">
        <div class="container">
          <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Directorio de Compras</span>
            </h1>
            <br>
            <!-- Buscador
            <form class="mw-500 center-block animated fadeInUp">
              <input type="text" placeholder="Escriba su búsqueda aquí..." class="form-control color-white">
              <button type="button" class="btn btn-raised btn-primary btn-block">
                <i class="zmdi zmdi-search"></i> Buscar</button>
            </form> -->

            <!-- PAGINADOR ALFABÉTICO -->
            <center class="alfabetico">
            
                     | <a href="javascript:void(0)">A</a>
                     | <a href="javascript:void(0)">B</a>
                     | <a href="javascript:void(0)">C</a>
                     | <a href="javascript:void(0)">D</a>
                     | <a href="javascript:void(0)">E</a>
                     | <a href="javascript:void(0)">F</a>
                     | <a href="javascript:void(0)">G</a>
                     | <a href="javascript:void(0)">H</a>
                     | <a href="javascript:void(0)">I</a>
                
                    
                     | <a href="javascript:void(0)">J</a>
                     | <a href="javascript:void(0)">K</a>
                     | <a href="javascript:void(0)">L</a>
                     | <a href="javascript:void(0)">M</a>
                     | <a href="javascript:void(0)">N</a>
                     | <a href="javascript:void(0)">Ñ</a>
                     | <a href="javascript:void(0)">O</a>
                     | <a href="javascript:void(0)">P</a>
                     | <a href="javascript:void(0)">Q</a>
                     | <a href="javascript:void(0)">R</a>
                                  
                     | <a href="javascript:void(0)">S</a>                    
                     | <a href="javascript:void(0)">T</a>
                     | <a href="javascript:void(0)">U</a>
                     | <a href="javascript:void(0)">V</a>
                     | <a href="javascript:void(0)">W</a>
                     | <a href="javascript:void(0)">X</a>
                     | <a href="javascript:void(0)">Y</a>
                     | <a href="javascript:void(0)">Z</a>
                     | <a href="javascript:void(0)">#</a>
                
            </center>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="card card-hero animated slideInUp animation-delay-8 mb-6">
          <div class="card-block">
            <h2 class="right-line color-warning-light" style="padding-bottom: 5px;"><b>Todas las Categorías</b></h2>

            <div class="card nav-tabs-ver-container">
                <div class="row">
                    <div class="col-sm-7 col-xs-6 nav-tabs-ver-container-content">
                      <div class="card-block">
                        <div class="tab-content">

                          <div role="tabpanel" class="tab-pane active" id="hogar">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Artículos del Hogar</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 1</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 2</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 3</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 4</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 5</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 6</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 7</a>
                                  </li>                  
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 8</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 9</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 10</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 11</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 12</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 13</a>
                                  </li>                                
                                </ul>
                              </div>
                            </div>  
                          </div>

                          <div role="tabpanel" class="tab-pane" id="vestir">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Accesorios y complementos de vestir</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 14</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 15</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 16</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 17</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 18</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 19</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 20</a>
                                  </li>                  
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 21</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 22</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 23</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 24</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 25</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 26</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 27</a>
                                  </li>                                
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="belleza">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Belleza y Cuidado Personal</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 34</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 35</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 36</a>
                                  </li> 
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 37</a>
                                  </li>                                                
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 38</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 39</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 40</a>
                                  </li>                                                             
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="postres">
                              <div class="row">
                                <div class="col-xs-12"><h3 class="color-success">Cafés, Helados y Postres</h3></div>
                                <div class="col-md-6">                
                                  <ul class="list-line">
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 41</a>
                                    </li>
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 42</a>
                                    </li>
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 43</a>
                                    </li> 
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 44</a>
                                    </li>
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 45</a>
                                    </li>                                                
                                  </ul>
                                </div>
                                <div class="col-md-6">
                                  <ul class="list-line">
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 46</a>
                                    </li>
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 47</a>
                                    </li>
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 48</a>
                                    </li>
                                    <li>
                                      <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 49</a>
                                    </li>                                                             
                                  </ul>
                                </div>
                              </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="entretenimiento">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Entretenimiento</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 50</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 51</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 52</a>
                                  </li>                                                     
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 53</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 54</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 55</a>
                                  </li>          
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="feria">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Feria de Comida</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 56</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 57</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 58</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 59</a>
                                  </li>                                                     
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 60</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 61</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 62</a>
                                  </li>          
                                </ul>
                              </div>                              
                            </div>
                          </div>                                                    

                          <div role="tabpanel" class="tab-pane" id="restaurantes">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Restaurantes</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 63</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 64</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 65</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 66</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 97</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="regalos">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Regalos y Detalles</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 98</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 99</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 100</a>
                                  </li>                                                                                    
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 101</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 102</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 103</a>
                                  </li> 
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Servicios</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 104</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 105</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 106</a>
                                  </li>                                                                                       
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 107</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 108</a>
                                  </li>                                        
                                </ul>
                              </div>                              
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="vestimenta">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Vestimenta</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 109</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 110</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 111</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 112</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 113</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 114</a>
                                  </li>                                                     
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 115</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 116</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 117</a>
                                  </li> 
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 118</a>
                                  </li> 
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 119</a>
                                  </li> 
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 120</a>
                                  </li>          
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div role="tabpanel" class="tab-pane" id="vestimenta_ninos">
                            <div class="row">
                              <div class="col-xs-12"><h3 class="color-success">Vestimenta para niños</h3></div>
                              <div class="col-md-6">                
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 121</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 122</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 123</a>
                                  </li>                                                                                    
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul class="list-line">
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 124</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 125</a>
                                  </li>
                                  <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">Nombre de la Tienda 126</a>
                                  </li> 
                                </ul>
                              </div>
                            </div>
                          </div>
                        
                        </div>
                      </div>
                  </div>

                  <div class="col-sm-5 col-xs-6">
                    <ul class="nav nav-tabs-ver" role="tablist">
                        <li role="presentation" class="active"><a href="#hogar" aria-controls="hogar" role="tab" data-hover="tab" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i> Artículos del Hogar</a></li>
                        
                        <li role="presentation"><a href="#vestir" aria-controls="vestir" role="tab" data-hover="tab" data-toggle="tab"><i class="fa fa-tags" aria-hidden="true"></i> Accesorios y complementos de vestir</a></li>
                        
                        <li role="presentation"><a href="#belleza" aria-controls="belleza" role="tab" data-hover="tab" data-toggle="tab"><i class="fa fa-heartbeat" aria-hidden="true"></i> Belleza y Cuidado Personal</a></li>
                        
                        <li role="presentation"><a href="#postres" aria-controls="postres" role="tab" data-hover="tab" data-toggle="tab"><i class="zmdi ion-coffee"></i> Cafés, Helados y Postres</a></li>

                        <li role="presentation"><a href="#entretenimiento" aria-controls="entretenimiento" role="tab" data-hover="tab" data-toggle="tab"><i class="fa fa-ticket" aria-hidden="true"></i> Entretenimiento</a></li>

                        <li role="presentation"><a href="#feria" aria-controls="feria" role="tab" data-hover="tab" data-toggle="tab"><i class="zmdi ion-pizza"></i> Feria de Comida</a></li>

                        <li role="presentation"><a href="#restaurantes" aria-controls="restaurantes" role="tab" data-hover="tab" data-toggle="tab"><i class="zmdi ion-android-restaurant"></i> Restaurantes</a></li>

                        <li role="presentation"><a href="#regalos" aria-controls="regalos" role="tab" data-hover="tab" data-toggle="tab"><i class="glyphicon glyphicon-gift"></i> Regalos y Detalles</a></li>

                        <li role="presentation"><a href="#servicios" aria-controls="servicios" role="tab" data-hover="tab" data-toggle="tab"><i class="zmdi ion-checkmark-circled"></i> Servicios</a></li>
                        
                        <li role="presentation"><a href="#vestimenta" aria-controls="vestimenta" role="tab" data-hover="tab" data-toggle="tab"><i class="zmdi ion-tshirt"></i> Vestimenta</a></li>

                        <li role="presentation"><a href="#vestimenta_ninos" aria-controls="vestimenta_ninos" role="tab" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-face"></i> Vestimenta para niños</a></li>                        
                    </ul>
                  </div>
                </div><!-- /. row -->
            </div><!-- /. card nav-tabs-ver-container -->
          </div><!-- /. card-block -->
        </div><!-- /.card card-hero -->
      </div><!-- /.Container -->
      
      
      <!-- ******************************************
          ELEMENTOS DEL FOOTER
      ****************************************** -->
      <aside class="ms-footbar" style="background: #b8222b !important; margin-top: -25px;">
        <div class="container">
          <div class="row">
            <!-- ///////// SITEMAP //////////// -->
            <div class="col-md-4 ms-footer-col">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Sitemap</h3>
                <ul class="list-unstyled ms-icon-list three_cols">
                  <li>
                    <a href="index.html">
                      <i class="zmdi zmdi-home"></i> Inicio</a>
                  </li>
                  <li>
                    <a href="javascript:void()">
                      <i class="zmdi zmdi-edit"></i> Noticias</a>
                  </li>
                  <li>
                    <a href="#galeria">
                      <i class="zmdi zmdi-collection-image-o"></i> Galeria</a>
                  </li>                  
                  <li>
                    <a href="javascript:void()">
                      <i class="zmdi zmdi-accounts"></i> Somos</a>
                  </li>
                  <li>
                    <a href="javascript:void()">
                      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Directorio</a>
                  </li>
                  <li>
                    <a href="javascript:void()">
                      <i class="zmdi zmdi-email"></i> Contactos</a>
                  </li>
                </ul>
              </div>
              <hr>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Subscríbete</h3>
                <p class="">Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                <form>
                  <div class="form-group label-floating mt-2 mb-1">
                    <div class="input-group ms-input-subscribe">
                      <label class="control-label" for="ms-subscribe">
                        <i class="zmdi zmdi-email"></i> Correo Electrónico</label>
                      <input type="email" id="ms-subscribe" class="form-control"> </div>
                  </div>
                  <button class="ms-subscribre-btn" type="button">Subscribirse</button>
                </form>
              </div>
              <div class="hidden-xs" style="height: 125px"></div>
            </div><!-- /*End Sitemap -->

            <!-- ///////// WIDGET TWITTER //////////// -->
            <div class="col-md-4 col-sm-4 ms-footer-col ms-footer-alt-color" style="background: rgb(155, 0, 0) !important;">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title text-center mb-2"><a href="https://twitter.com/emicaguacu" title="Síguenos en twitter" target="_blank">@emicaguacu</a></h3>
                
                <a 
                class="twitter-timeline" 
                data-lang="es" 
                data-tweet-limit="1"
                data-link-color="#b8222b"
                data-chrome="noheader nofooter noborders"
                href="https://twitter.com/emicaguacu">Tweets de emicaguacu</a> 

                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div><!-- /* End widget Tiwtter -->

            <!-- ///////// DATOS DE UBICACIÓN Y CONTACTOS //////////// -->
            <div class="col-md-4 col-sm-4 ms-footer-col ms-footer-text-right" style="background: #b8222b !important;">
              <div class="ms-footbar-block">
                <div class="ms-footbar-title">
                  <img class="img-responsive pull-right hidden-xs" style="max-width: 250px;" src="assets/img/logo_white.png" alt="Logo Emicaguacu">                  
                </div>
                <div class="clearfix"></div>
                <br>
                <address class="no-mb">
                  <p>
                    <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Av.6 Comunidad Cardón, Punto Fijo</p>
                  <p>
                    <i class="color-warning-light zmdi zmdi-map mr-1"></i> Estado Falcón / Venezuela</p>
                  <p>
                    <i class="color-info-light zmdi zmdi-email mr-1"></i>
                    <a href="mailto:info@emicaguacu.com">info@emicaguacu.com</a>
                  </p>
                  <p>
                    <i class="color-royal-light zmdi zmdi-phone mr-1"></i> 58 (269) 2485348  </p>
                  <p>
                    <i class="color-success-light fa fa-fax mr-1"></i> 58 (269) 2485348  </p>
                </address>
              </div>
              <br>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Social Media</h3>
                <div class="ms-footbar-social">
                  <a href="https://www.facebook.com/cclasvitudes/" target="_blank" class="btn-circle btn-facebook rrss">
                    <i class="zmdi zmdi-facebook"></i>
                  </a>
                  <a href="https://twitter.com/emicaguacu" target="_blank" class="btn-circle btn-twitter rrss">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                  <a href="https://www.instagram.com/emicaguacu/" target="_blank" class="btn-circle btn-instagram rrss">
                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                  </a>
                  <a href="https://goo.gl/maps/5V57AzS4iKy" target="_blank" class="btn-circle btn-google rrss">
                    <i class="zmdi zmdi-google"></i>
                  </a>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside><!-- /* End Elementos del Footer -->
      
      <!-- ******************************************
          FOOTER
      ****************************************** -->
      <footer class="ms-footer">
        <div class="container">
          <p>Copyright &copy; Emicaguacu Ciudad Comercial 2017 | Powered by <a href="http://slicegroup.xyz/" target="_blank">SliceGroup</a></p>
        </div>
      </footer><!-- /* End footer -->

      <!-- ******************************************
          BACKTOP BUTTON
      ****************************************** -->
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-danger btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div><!-- /* End backtop button -->

    </div>
    <!-- sb-site-container -->

    <!-- *******************************************
                  SLIDEBAR
    ******************************************** -->
    <div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay">      
      
      <!-- //////////// SLIDEBAR HEADER /////////////// -->
      <header class="ms-slidebar-header">

        <div class="ms-slidebar-login">
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account"></i> Login</a>
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account-add"></i> Registro</a>
        </div>

        <div class="ms-slidebar-title">
          <div class="ms-slidebar-t">
            <img style="max-width: 190px;" src="assets/img/logo_white2.png" alt="Logo Emicaguacu">
          </div>
        </div>

      </header><!-- /* End slidebar header -->

      
      <!-- //////////// SLIDEBAR MENU /////////////// -->
      <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li>
          <a class="link" href="index.html">
            <i class="zmdi zmdi-home"></i> Inicio</a>
        </li>
        <li>
          <a class="link" href="directorio.html">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i> Directorio</a>
        </li>
        <li>
          <a class="link" href="somos.html">
            <i class="zmdi zmdi-accounts"></i> Somos</a>
        </li>
        <li>
          <a class="link" href="#galeria">
            <i class="zmdi zmdi-collection-image-o"></i> Galería</a>
        </li>
        <li>
          <a class="link" href="ubicacion.html">
            <i class="zmdi zmdi-pin"></i> Ubicación</a>
        </li>
        <li>
          <a class="link" href="blog.html">
            <i class="zmdi zmdi-edit"></i> Noticias</a>
        </li>

        
      </ul><!-- /* End slidebar menu -->

      <!-- ///////// Social Links ///////////// -->
      <div class="ms-slidebar-social ms-slidebar-block">
        <h4 class="ms-slidebar-block-title">Síguenos</h4>
        <div class="ms-slidebar-social">

          <a href="https://www.facebook.com/cclasvitudes/" target="_blank" class="btn-circle btn-circle-raised btn-facebook">
            <i class="zmdi zmdi-facebook"></i>
            <span class="badge badge-pink">12</span>
            <div class="ripple-container"></div>
          </a>
          <a href="https://twitter.com/emicaguacu" target="_blank" class="btn-circle btn-circle-raised btn-twitter">
            <i class="zmdi zmdi-twitter"></i>
            <span class="badge badge-pink">4</span>
            <div class="ripple-container"></div>
          </a>
          <a href="https://www.instagram.com/emicaguacu/" target="_blank" class="btn-circle btn-circle-raised btn-instagram">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            <span class="badge badge-pink">35</span>
            <div class="ripple-container"></div>
          </a>
          <a href="https://goo.gl/maps/5V57AzS4iKy" target="_blank" class="btn-circle btn-circle-raised btn-google">
            <i class="zmdi zmdi-google"></i>
            <div class="ripple-container"></div>
          </a>

        </div>
      </div><!-- /* End Social Links -->
    </div><!-- /*End slidebar -->

    <!-- ******************************************
        MODAL TIENDA
    ****************************************** -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="ms-hero-bg-warning ms-hero-img-tienda">
                      <h3 class="color-white index-1 text-center no-m pt-4">Nombre de la Tienda</h3>
                      <div class="color-medium index-1 text-center np-m">Categoría de la Tienda</div>
                      <img src="assets/img/tiendas/logo01.jpg" alt="..." class="img-avatar-circle"> </div>
                    <div class="card-block pt-4 text-center">
                      <h3 class="color-primary">Ubicación de la Tienda</h3>
                      <p>Una breve descripción de los servicios que presta o lo que se vende. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                      <hr>
                      <p><i class="color-info-light zmdi zmdi-email mr-1"></i>
                          <a href="mailto:joe@example.com">example@domain.com</a></p>
                      <p><i class="color-royal-light zmdi zmdi-phone mr-1"></i>+00 123 456 7890 </p>
                      <p><i class="color-success-light fa fa-fax mr-1"></i>+34 123 456 7890</p>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                        <i class="zmdi zmdi-facebook"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                        <i class="zmdi zmdi-twitter"></i>
                      </a>
                      <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                        <i class="zmdi zmdi-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. Modal tienda -->

    

    <!-- //////////////// JAVASCRIP //////////////////// -->
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/portfolio.js"></script>
  </body>
</html>