<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Emicaguacu CC - Ubicación</title>
    <meta name="description" content="Emicaguacu CC">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/material_icons.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/preload.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css" />
     <link rel="stylesheet" type="text/css" href="assets/css/style.light-blue-500.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- ************************************
        Link Shop
    ************************************* -->
    <a href="directorio.html" class="ms-conf-btn ms-configurator-btn btn-circle btn-circle-raised btn-circle-success animated rubberBand hidden-xs hidden-sm">
      <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
    </a><!-- /* End Link Shop -->
    
    <!-- ************************************
        PRELOAD
    ************************************* -->
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div><!-- /* End ms-preload -->

    <div class="sb-site-container">    
      
      <header class="ms-header ms-header-white">
        <div class="container container-full">
          <div class="ms-title">
            <a href="index.html">
              <img id="logo" class="animated fadeInLeft animation-delay-7" src="assets/img/logo_color.png" alt="Logo Emicaguacu">              
            </a>
          </div>
          <div class="header-right">
            <div class="share-menu">
              <ul class="share-menu-list">
                <li class="animated fadeInRight animation-delay-3">
                  <a href="javascript:void(0)" class="btn-circle btn-google">
                    <i class="zmdi zmdi-google"></i>
                  </a>
                </li>
                <li class="animated fadeInRight animation-delay-2">
                  <a href="javascript:void(0)" class="btn-circle btn-facebook">
                    <i class="zmdi zmdi-facebook"></i>
                  </a>
                </li>
                <li class="animated fadeInRight animation-delay-1">
                  <a href="javascript:void(0)" class="btn-circle btn-twitter">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                </li>
              </ul>
              <a href="javascript:void(0)" class="btn-circle btn-circle-primary animated zoomInDown animation-delay-7">
                <i class="zmdi zmdi-share"></i>
              </a>
            </div>
            <form class="search-form animated zoomInDown animation-delay-9">
              <input id="search-box" type="text" class="search-input" placeholder="Buscar..." name="q" />
              <label for="search-box">
                <i class="zmdi zmdi-search"></i>
              </label>
            </form>
            <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary sb-toggle-left animated zoomInDown animation-delay-10 visible-xs visible-sm">
              <i class="zmdi zmdi-menu"></i>
            </a>
          </div>
        </div>
      </header>

      <!-- *******************************************
              NAVBAR
      ******************************************** -->
      <nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-primary">
        <div class="container container-full">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <img id="logo2" src="assets/img/logo_white.png" alt="Logo Emicaguacu">
            </a>
          </div>
          
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav menues visible-md visible-lg">

              <li class="dropdown yamm-fw">
                <a href="#" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Directorio
                  <i class="zmdi zmdi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x">
                  <li>
                    <div class="row">

                      <div class="col-sm-4 megamenu-col">
                        <div class="megamenu-block animated fadeInLeft animated-2x">                          
                          <ul class="megamenu-block-list">
                            <li><a href="directorio.html"> Todas</a></li>
                            <li><a href="directorio.html"> Artículos del Hogar</a></li>
                            <li><a href="directorio.html"> Accesorios y complementos de vestir</a></li>
                            <li><a href="directorio.html"> Belleza y cuidado personal</a></li>
                          </ul>
                        </div>
                      </div>

                     <div class="col-sm-4 megamenu-col">
                        <div class="megamenu-block animated fadeInLeft animated-2x">                          
                          <ul class="megamenu-block-list">
                            <li><a href="directorio.html"> Cafés, Helados y Postres</a></li>
                            <li><a href="directorio.html"> Entretenimiento</a></li>
                            <li><a href="directorio.html"> Feria de Comida</a></li>
                            <li><a href="directorio.html"> Restaurantes</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-sm-4 megamenu-col">
                        <div class="megamenu-block animated fadeInLeft animated-2x">                          
                          <ul class="megamenu-block-list">
                            <li><a href="directorio.html"> Regalos y detalles</a></li>
                            <li><a href="directorio.html"> Servicios</a></li>
                            <li><a href="directorio.html"> Vestimenta</a></li>
                            <li><a href="directorio.html"> Vestimenta de niños</a>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </li>
                </ul>
              </li>

              <li><a href="somos.html"><i class="zmdi zmdi-accounts"></i> Somos</a></li>
              <li><a href="index.html#galeria"><i class="zmdi zmdi-collection-image-o"></i> Galería</a></li>
              <li><a href="ubicacion.html"><i class="zmdi zmdi-pin"></i> Ubicación</a></li>
              <li><a href="blog.html"><i class="zmdi zmdi-edit"></i> Noticias</a></li>
            </ul>
          </div>
          <!-- navbar-collapse collapse -->
          <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu visible-xs visible-sm">
            <i class="zmdi zmdi-menu"></i>
          </a>
        </div>
        <!-- container -->
      </nav><!-- /* End Navbar -->
    

      <div class="ms-hero-page-override ms-hero-img-mapa ms-hero-bg-success">
        <div class="container">
          <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Ubicación y Contactos</h1>
            <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7"><b>Emicaguacu CC</b> se ha ganado la preferencia de la gente que aprecia la calidad, la variedad y el buen gusto que encuentra en sus tiendas, restaurantes, kioscos y cafés. </p>
          </div>
        </div>
      </div>

      <div class="container">        

        <div class="card card-hero animated fadeInUp animation-delay-7">

          <div class="card card-primary">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="card-block wow fadeInUp">
                  <address class="no-mb">
                    <p>
                      <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Av.6 Comunidad Cardón, Punto Fijo</p>
                    <p>
                      <i class="color-warning-light zmdi zmdi-map mr-1"></i> Estado Falcón / Venezuela</p>
                    <p>
                      <i class="color-info-light zmdi zmdi-email mr-1"></i>
                      <a href="mailto:info@emicaguacu.com">info@emicaguacu.com</a>
                    </p>
                    <p>
                      <i class="color-royal-light zmdi zmdi-phone mr-1"></i> 58 (269) 2485348  </p>
                    <p>
                      <i class="color-success-light fa fa-fax mr-1"></i> 58 (269) 2485348  </p>
                  </address>
                </div>
              </div>
              <div class="col-lg-9 col-md-8 col-sm-7">
                <iframe src="https://www.google.com/maps/d/embed?mid=1mSgeMLbDPv-ZFxEAgyYPV0tkI9c&hl=es" width="100%" height="500"></iframe>
              </div>
            </div>
          </div>

          <div class="card-block">
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label for="inputName" class="col-md-2 control-label">Nombre</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="inputName" placeholder="Nombre"> </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-md-2 control-label">Email</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email"> </div>
                </div>
                <div class="form-group">
                  <label for="inputSubject" class="col-md-2 control-label">Asunto</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="inputSubject" placeholder="Asunto"> </div>
                </div>
                <div class="form-group">
                  <label for="textArea" class="col-md-2 control-label">Mansaje</label>
                  <div class="col-md-9">
                    <textarea class="form-control" rows="5" id="textArea" placeholder="Su mensaje..."></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-9 col-md-offset-2">
                    <button type="submit" class="btn btn-raised btn-primary">ENVIAR</button>
                    <button type="button" class="btn btn-danger">CANCELAR</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>        
      </div><!-- /. container --> 
      
      <!-- ******************************************
          ELEMENTOS DEL FOOTER
      ****************************************** -->
      <aside class="ms-footbar" style="background: #b8222b !important; margin-top: -25px;">
        <div class="container">
          <div class="row">
            <!-- ///////// SITEMAP //////////// -->
            <div class="col-md-4 ms-footer-col">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Sitemap</h3>
                <ul class="list-unstyled ms-icon-list three_cols">
                  <li>
                    <a href="index.html">
                      <i class="zmdi zmdi-home"></i> Inicio</a>
                  </li>
                  <li>
                    <a href="javascript:void()">
                      <i class="zmdi zmdi-edit"></i> Noticias</a>
                  </li>
                  <li>
                    <a href="#galeria">
                      <i class="zmdi zmdi-collection-image-o"></i> Galeria</a>
                  </li>                  
                  <li>
                    <a href="javascript:void()">
                      <i class="zmdi zmdi-accounts"></i> Somos</a>
                  </li>
                  <li>
                    <a href="javascript:void()">
                      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Directorio</a>
                  </li>
                  <li>
                    <a href="javascript:void()">
                      <i class="zmdi zmdi-email"></i> Contactos</a>
                  </li>
                </ul>
              </div>
              <hr>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Subscríbete</h3>
                <p class="">Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.</p>
                <form>
                  <div class="form-group label-floating mt-2 mb-1">
                    <div class="input-group ms-input-subscribe">
                      <label class="control-label" for="ms-subscribe">
                        <i class="zmdi zmdi-email"></i> Correo Electrónico</label>
                      <input type="email" id="ms-subscribe" class="form-control"> </div>
                  </div>
                  <button class="ms-subscribre-btn" type="button">Subscribirse</button>
                </form>
              </div>
              <div class="hidden-xs" style="height: 125px"></div>
            </div><!-- /*End Sitemap -->

            <!-- ///////// WIDGET TWITTER //////////// -->
            <div class="col-md-4 col-sm-4 ms-footer-col ms-footer-alt-color" style="background: rgb(155, 0, 0) !important;">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title text-center mb-2"><a href="https://twitter.com/emicaguacu" title="Síguenos en twitter" target="_blank">@emicaguacu</a></h3>
                
                <a 
                class="twitter-timeline" 
                data-lang="es" 
                data-tweet-limit="1"
                data-link-color="#b8222b"
                data-chrome="noheader nofooter noborders"
                href="https://twitter.com/emicaguacu">Tweets de emicaguacu</a> 

                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div><!-- /* End widget Tiwtter -->

            <!-- ///////// DATOS DE UBICACIÓN Y CONTACTOS //////////// -->
            <div class="col-md-4 col-sm-4 ms-footer-col ms-footer-text-right" style="background: #b8222b !important;">
              <div class="ms-footbar-block">
                <div class="ms-footbar-title">
                  <img class="img-responsive pull-right hidden-xs" style="max-width: 250px;" src="assets/img/logo_white.png" alt="Logo Emicaguacu">                  
                </div>
                <div class="clearfix"></div>
                <br>
                <address class="no-mb">
                  <p>
                    <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Av.6 Comunidad Cardón, Punto Fijo</p>
                  <p>
                    <i class="color-warning-light zmdi zmdi-map mr-1"></i> Estado Falcón / Venezuela</p>
                  <p>
                    <i class="color-info-light zmdi zmdi-email mr-1"></i>
                    <a href="mailto:info@emicaguacu.com">info@emicaguacu.com</a>
                  </p>
                  <p>
                    <i class="color-royal-light zmdi zmdi-phone mr-1"></i> 58 (269) 2485348  </p>
                  <p>
                    <i class="color-success-light fa fa-fax mr-1"></i> 58 (269) 2485348  </p>
                </address>
              </div>
              <br>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Social Media</h3>
                <div class="ms-footbar-social">
                  <a href="https://www.facebook.com/cclasvitudes/" target="_blank" class="btn-circle btn-facebook rrss">
                    <i class="zmdi zmdi-facebook"></i>
                  </a>
                  <a href="https://twitter.com/emicaguacu" target="_blank" class="btn-circle btn-twitter rrss">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                  <a href="https://www.instagram.com/emicaguacu/" target="_blank" class="btn-circle btn-instagram rrss">
                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                  </a>
                  <a href="https://goo.gl/maps/5V57AzS4iKy" target="_blank" class="btn-circle btn-google rrss">
                    <i class="zmdi zmdi-google"></i>
                  </a>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside><!-- /* End Elementos del Footer -->
      
      <!-- ******************************************
          FOOTER
      ****************************************** -->
      <footer class="ms-footer">
        <div class="container">
          <p>Copyright &copy; Emicaguacu Ciudad Comercial 2017 | Powered by <a href="http://slicegroup.xyz/" target="_blank">SliceGroup</a></p>
        </div>
      </footer><!-- /* End footer -->

      <!-- ******************************************
          BACKTOP BUTTON
      ****************************************** -->
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-danger btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div><!-- /* End backtop button -->

    </div>
    <!-- sb-site-container -->

    <!-- *******************************************
                  SLIDEBAR
    ******************************************** -->
    <div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay">      
      
      <!-- //////////// SLIDEBAR HEADER /////////////// -->
      <header class="ms-slidebar-header">

        <div class="ms-slidebar-login">
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account"></i> Login</a>
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account-add"></i> Registro</a>
        </div>

        <div class="ms-slidebar-title">
          <div class="ms-slidebar-t">
            <img style="max-width: 190px;" src="assets/img/logo_white2.png" alt="Logo Emicaguacu">
          </div>
        </div>

      </header><!-- /* End slidebar header -->

      
      <!-- //////////// SLIDEBAR MENU /////////////// -->
      <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li>
          <a class="link" href="index.html">
            <i class="zmdi zmdi-home"></i> Inicio</a>
        </li>
        <li>
          <a class="link" href="directorio.html">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i> Directorio</a>
        </li>
        <li>
          <a class="link" href="somos.html">
            <i class="zmdi zmdi-accounts"></i> Somos</a>
        </li>
        <li>
          <a class="link" href="#galeria">
            <i class="zmdi zmdi-collection-image-o"></i> Galería</a>
        </li>
        <li>
          <a class="link" href="ubicacion.html">
            <i class="zmdi zmdi-pin"></i> Ubicación</a>
        </li>
        <li>
          <a class="link" href="blog.html">
            <i class="zmdi zmdi-edit"></i> Noticias</a>
        </li>

        
      </ul><!-- /* End slidebar menu -->

      <!-- ///////// Social Links ///////////// -->
      <div class="ms-slidebar-social ms-slidebar-block">
        <h4 class="ms-slidebar-block-title">Síguenos</h4>
        <div class="ms-slidebar-social">

          <a href="https://www.facebook.com/cclasvitudes/" target="_blank" class="btn-circle btn-circle-raised btn-facebook">
            <i class="zmdi zmdi-facebook"></i>
            <span class="badge badge-pink">12</span>
            <div class="ripple-container"></div>
          </a>
          <a href="https://twitter.com/emicaguacu" target="_blank" class="btn-circle btn-circle-raised btn-twitter">
            <i class="zmdi zmdi-twitter"></i>
            <span class="badge badge-pink">4</span>
            <div class="ripple-container"></div>
          </a>
          <a href="https://www.instagram.com/emicaguacu/" target="_blank" class="btn-circle btn-circle-raised btn-instagram">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            <span class="badge badge-pink">35</span>
            <div class="ripple-container"></div>
          </a>
          <a href="https://goo.gl/maps/5V57AzS4iKy" target="_blank" class="btn-circle btn-circle-raised btn-google">
            <i class="zmdi zmdi-google"></i>
            <div class="ripple-container"></div>
          </a>

        </div>
      </div><!-- /* End Social Links -->
    </div><!-- /*End slidebar -->

    

    <!-- //////////////// JAVASCRIP //////////////////// -->
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>