.container
  .card.card-hero.animated.slideInUp.animation-delay-8.mb-6
    .card-block
      .row
        / Bienvenidos
        .col-md-9
          %h2.color-primary Bienvenidos a Paraguaná
          %br
          %p.dropcaps.lead
            Emicaguacu Ciudad Comercial es el mall  más importante de la Península.
            Fundado hace 20 años, el 15 de Noviembre de 1997,  es  el Punto de Encuentro
            para la compra y la diversión, en Paraguaná.
          %li.selector-li
            Tiene una extensión de 32.000 mts cuadrados, con 230 locales comerciales.
          %li.selector-li
            %span.color-primary 1200 puestos de estacionamiento,
            atendemos
            %span.color-primary a más de 4200 vehículos diarios,
            con control de ingreso y salida.
          %li.selector-li
            Seguridad las 24 horas a través de un sistema automatizado de circuito cerrado de TV con 
            %span.color-primary 166 cámaras.
          %li.selector-li
            Siete modernas salas de cine, una 3D, parque infantil, plantas eléctricas para garantizar
            todos los servicios.
          %li.selector-li
            %span.color-primary Eventos gratuitos
            para toda la familia entre semana y los fines de semana,
            una atractiva vida nocturna   y mantenimiento permanente de nuestras instalaciones.
          %br
          #target.dn
            %p
              Tenemos
              %span.color-primary panadería, tiendas de conveniencia, franquicias nacionales e internacionales
              y
              %span.color-primary tiendas locales
              que ofrecen precios competitivos  en rubros como lencería, ropa, calzados,
              artículos para el
              %span.color-primary Hogar, juguetes, zapatos, bisutería, perfumes, regalos
              entre otros.
            %p
              Combinamos
              %span.color-primary varios ambientes:
              El Centro Comercial tradicional, el mall al aire libre, feria de comida, área de Galería,
              Lounge del cine, el Paseo y el bulevar, estas últimas a la vanguardia mundial,
              cada uno con un estilo propio y servicios variados, donde el visitante se encontrará
              a gusto de acuerdo a sus necesidades.
            %p
              Contamos con
              %span.color-primary 65 %  de  comercios y 35 % de locales de ocio y entretenimiento.
              Nuestro target esta caracterizado por familias falconianas  de  todos los estratos,
              que vienen a hacer sus compras y uso de nuestros servicios. Los turistas también son
              asiduos visitantes, especialmente los provenientes de los estados: Zulia, Carabobo,
              Aragua y  Distrito Capital.
            %p
              Nuestro horario es desde las 10 a.m hasta las 8 p.m, de lunes a sábados,
              y domingos y feriados de 11 a.m a 7 p.m.
            %h4.color-primary MISIÓN
            %p
              “Nuestro Propósito es satisfacer las necesidades de los clientes internos y externos
              a través de una amplia gama de servicios y comercios de alta calidad, en un ambiente cálido,
              seguro y confortable, responsablemente comprometidos con la comunidad y el ambiente
              maximizando la competitividad de la Ciudad Comercial.”
            %h4.color-primary VISIÓN
            %p
              “Convertirnos en la Ciudad Comercial y Turística Emicaguacu implantando un nuevo concepto
              con una mayor variedad de servicios, recreación y cultura superando las expectativas
              y mejorando la calidad de vida de los clientes nacionales e internacionales y la comunidad”.
            %h4.color-primary VALORES
            %li.selector-li Integridad
            %li.selector-li Respeto
            %li.selector-li Sentido de pertenencia
            %li.selector-li Trabajo en equipo
            %li.selector-li Actitud de servicio al cliente
            %li.selector-li Compromiso
          %br

          %a#see.more
            Leer

          %h2.color-primary Ven, vive y disfruta.
        / /.Bienvenidos
        .col-md-3
          %hr.visible-xs.visible-sm/
          / Ubicación y horario
          .row.row-map
            .col-md-12.col-sm-12.col-xs-12
              .ms-thumbnail-container
                %figure.ms-thumbnail.ms-thumbnail-diagonal
                  %img.img-responsive{:alt => "Minimapa", :src => "assets/img/minimapa.png", :title => "Ubicación Emicaguacu CC"}
                  %figcaption.ms-thumbnail-caption.text-center
                    .ms-thumbnail-caption-content
                      %a.btn.btn-white{:href => "ubicacion"}
                        %i.zmdi.zmdi-eye
                        Ver más
                        .ripple-container
:sass
  .lead
    font-size: 1.5rem
  .dropcaps:first-letter
    font-size: 5.5rem
    padding: 0
    margin: -15px 5px 0 -5px
  .row-map
    margin-top: 100px
  .selector-li
    list-style: none
  .selector-li:before
    content: "•"
    padding-right: 8px
    color: #F40003
  .dn
    display: none
  #see:hover
    color: rgb(155, 0, 0) !important
    cursor: pointer
  .more:after
    content: "más"
  .less:after
    content: "menos"
:javascript
  $('#see').click(function(){
    $('#target').toggleClass('dn');
    $('#see').toggleClass('more');
    $('#see').toggleClass('less');
  });
