.container
  .card.card-hero.animated.slideInUp.animation-delay-8.mb-6
    .card-block
      .row
        / Bienvenidos
        .col-md-9
          %h2.color-primary Consejo Comunal Emicaguacu
          %br
          %p.lead
            Contamos con 5 cuerpos de vocería prestando el servicio a nuestra fiel comunidad
            24/7.
            %p.lead Entre ellos se destacan:
            %li.selector-li Contraloría Social
            %li.selector-li Seguridad
            %li.selector-li Alimentación
            %li.selector-li Medios Alternativos
            %li.selector-li Aguas y Sanidad

          %h2.color-primary Ven, vive y disfruta.
        / /.Bienvenidos
        .col-md-3
          %hr.visible-xs.visible-sm/
          / Ubicación y horario
          .row.row-map
            .col-md-12.col-sm-12.col-xs-12
              .ms-thumbnail-container
                %figure.ms-thumbnail.ms-thumbnail-diagonal
                  %img.img-responsive{:alt => "Minimapa", :src => "assets/img/minimapa.png", :title => "Ubicación Emicaguacu CC"}
                  %figcaption.ms-thumbnail-caption.text-center
                    .ms-thumbnail-caption-content
                      %a.btn.btn-white{:href => "ubicacion"}
                        %i.zmdi.zmdi-eye
                        Ver más
                        .ripple-container
:sass
  .lead
    font-size: 1.5rem
  .dropcaps:first-letter
    font-size: 5.5rem
    padding: 0
    margin: -15px 5px 0 -5px
  .row-map
    margin-top: 100px
  .selector-li
    list-style: none
  .selector-li:before
    content: "•"
    padding-right: 8px
    color: #F40003
  .dn
    display: none
  #see:hover
    color: rgb(155, 0, 0) !important
    cursor: pointer
  .more:after
    content: "más"
  .less:after
    content: "menos"
:javascript
  $('#see').click(function(){
    $('#target').toggleClass('dn');
    $('#see').toggleClass('more');
    $('#see').toggleClass('less');
  });
